Sistemas_Microprocessados_e_Microcontrolados/flows.json
[{"id":"d2cca4f.0693058","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"239d39e5.a79e06","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"8df2cf18.b7353","type":"tab","label":"Requisições HTTP","disabled":false,"info":""},{"id":"659c0e01.b9f77","type":"tab","label":"BackEnd-Node-RED","disabled":false,"info":""},{"id":"fb9eba3.b013548","type":"ui_tab","name":"FATEC","icon":"fa-bandcamp","disabled":false,"hidden":false},{"id":"f558a077.0f031","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#bf030c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dfc4e85a.6dda08","type":"ui_group","name":"Ola Mundo","tab":"fb9eba3.b013548","order":1,"disp":true,"width":6,"collapse":false},{"id":"8f0ca02.a6e9c6","type":"ui_group","name":"Entrada texto","tab":"fb9eba3.b013548","order":2,"disp":true,"width":12,"collapse":false},{"id":"ca5291e0.bfd","type":"ui_link","name":"Site Fatec Santo André","link":"http://www.fatecsantoandre.edu.br/","icon":"open_in_browser","target":"newtab","order":2},{"id":"2da4c071.d0c47","type":"ui_tab","name":"HTTP","icon":"wi-darksky-tornado","disabled":false,"hidden":false},{"id":"65d26853.1bc168","type":"ui_group","name":"Clima","tab":"2da4c071.d0c47","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ed1c82e.609b08","type":"ui_tab","name":"Servidor HTTP","icon":"dashboard","disabled":false,"hidden":false},{"id":"62584906.bd1568","type":"ui_group","name":"Entrada","tab":"2ed1c82e.609b08","order":1,"disp":true,"width":"6","collapse":false},{"id":"81fdc738.280638","type":"ui_group","name":"Saida","tab":"2ed1c82e.609b08","order":2,"disp":true,"width":"6","collapse":false},{"id":"d2477b32.01faa8","type":"inject","z":"d2cca4f.0693058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ola mundo","payloadType":"str","x":230,"y":140,"wires":[["496997e8.50ddd8"]]},{"id":"496997e8.50ddd8","type":"debug","z":"d2cca4f.0693058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]},{"id":"2417e244.75b46e","type":"inject","z":"d2cca4f.0693058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["be693bcf.133d68"]]},{"id":"7d162641.3216f8","type":"debug","z":"d2cca4f.0693058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"be693bcf.133d68","type":"change","z":"d2cca4f.0693058","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Embarcados","tot":"str"},{"t":"set","p":"curso","pt":"flow","to":"Mecatronica","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["7d162641.3216f8"]]},{"id":"17fe47df.52ca78","type":"inject","z":"d2cca4f.0693058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["d4450d80.39795"]]},{"id":"d4450d80.39795","type":"change","z":"d2cca4f.0693058","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"curso","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":360,"wires":[["835155c3.5919d8"]]},{"id":"835155c3.5919d8","type":"debug","z":"d2cca4f.0693058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":340,"wires":[]},{"id":"5bf7aa5f.d288f4","type":"inject","z":"d2cca4f.0693058","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":210,"y":480,"wires":[["fe3d14c9.acf198"]]},{"id":"fe3d14c9.acf198","type":"switch","z":"d2cca4f.0693058","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":440,"y":480,"wires":[["6b8e6620.5ab918"],["cc0d766c.f99be8"],["8d55ba56.209de8"]]},{"id":"6b8e6620.5ab918","type":"change","z":"d2cca4f.0693058","name":"","rules":[{"t":"set","p":"curso","pt":"flow","to":"Mecatronica2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[[]]},{"id":"cc0d766c.f99be8","type":"change","z":"d2cca4f.0693058","name":"","rules":[{"t":"set","p":"curso","pt":"flow","to":"Eletronica","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":480,"wires":[[]]},{"id":"8d55ba56.209de8","type":"change","z":"d2cca4f.0693058","name":"","rules":[{"t":"set","p":"curso","pt":"flow","to":"Mecanica","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[[]]},{"id":"4cc97c60.7e2394","type":"inject","z":"d2cca4f.0693058","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":210,"y":520,"wires":[["fe3d14c9.acf198"]]},{"id":"c4fe588d.28f208","type":"ui_button","z":"239d39e5.a79e06","name":"","group":"dfc4e85a.6dda08","order":1,"width":0,"height":0,"passthru":false,"label":"Ola","tooltip":"Acione para ter uma surpresa","color":"","bgcolor":"","icon":"fa-handshake-o","payload":"ola mundo Dashboard","payloadType":"str","topic":"payload","topicType":"msg","x":160,"y":60,"wires":[["2467e79b.cb8698"]]},{"id":"2467e79b.cb8698","type":"ui_text","z":"239d39e5.a79e06","group":"dfc4e85a.6dda08","order":2,"width":0,"height":0,"name":"","label":"Mensagem Recebida:","format":"{{msg.payload}}","layout":"col-center","x":340,"y":60,"wires":[]},{"id":"922a5527.b57688","type":"ui_text_input","z":"239d39e5.a79e06","name":"","label":"Informe seu nome:","tooltip":"Digite o nome do usuário","group":"8f0ca02.a6e9c6","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":200,"y":120,"wires":[["741f1236.47cd1c"]]},{"id":"741f1236.47cd1c","type":"ui_text","z":"239d39e5.a79e06","group":"8f0ca02.a6e9c6","order":2,"width":0,"height":0,"name":"","label":"Mensagem Recebida:","format":"{{msg.payload}}","layout":"col-center","x":440,"y":120,"wires":[]},{"id":"be040656.7a5088","type":"ui_slider","z":"239d39e5.a79e06","name":"","label":"slider","tooltip":"","group":"dfc4e85a.6dda08","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"x":160,"y":200,"wires":[["b3cdda32.7ab908"]]},{"id":"b3cdda32.7ab908","type":"ui_gauge","z":"239d39e5.a79e06","name":"","group":"dfc4e85a.6dda08","order":3,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":200,"wires":[]},{"id":"1810d1f2.377dde","type":"inject","z":"8df2cf18.b7353","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["38ad42f2.50024e"]]},{"id":"8cc591c7.f6f83","type":"http request","z":"8df2cf18.b7353","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":120,"wires":[["571355b5.0f995c","bb74c7ba.5f33e8","54f7ffc9.3efa6","e06b1511.f1e358"]]},{"id":"38ad42f2.50024e","type":"change","z":"8df2cf18.b7353","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"api.openweathermap.org/data/2.5/weather?q=Santo Andre,BR-SP&appid=816bcad01230b1f6ca0efa02c3dd2407&units=metric","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["8cc591c7.f6f83"]]},{"id":"571355b5.0f995c","type":"debug","z":"8df2cf18.b7353","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"bca9935.264a27","type":"ui_button","z":"8df2cf18.b7353","name":"","group":"65d26853.1bc168","order":0,"width":0,"height":0,"passthru":false,"label":"Atualizar Temperatura","tooltip":"Clique para atualizar os dados sobre o clima","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":400,"wires":[["38ad42f2.50024e"]]},{"id":"bb74c7ba.5f33e8","type":"ui_text","z":"8df2cf18.b7353","group":"65d26853.1bc168","order":1,"width":0,"height":0,"name":"","label":"Temperatura atual (Graus Celsius):","format":"{{msg.payload.main.temp}}","layout":"col-center","x":880,"y":180,"wires":[]},{"id":"54f7ffc9.3efa6","type":"ui_text","z":"8df2cf18.b7353","group":"65d26853.1bc168","order":4,"width":0,"height":0,"name":"","label":"Umidade relativa(%):","format":"{{msg.payload.main.humidity}}","layout":"col-center","x":840,"y":240,"wires":[]},{"id":"e06b1511.f1e358","type":"ui_gauge","z":"8df2cf18.b7353","name":"","group":"65d26853.1bc168","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Celsius","format":"{{msg.payload.main.temp}}","min":"-10","max":"60","colors":["#15a2f9","#ffa82e","#ca3838"],"seg1":"","seg2":"","x":810,"y":340,"wires":[]},{"id":"b6e2e4ec.134b38","type":"http in","z":"659c0e01.b9f77","name":"","url":"/ola","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["db0d342e.7a00a8"]]},{"id":"49f488b9.b69388","type":"http response","z":"659c0e01.b9f77","name":"","statusCode":"200","headers":{},"x":480,"y":60,"wires":[]},{"id":"db0d342e.7a00a8","type":"template","z":"659c0e01.b9f77","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"mensagem\":\"ola\"\n}","output":"str","x":280,"y":60,"wires":[["49f488b9.b69388"]]},{"id":"ffe2d55d.bb8378","type":"http in","z":"659c0e01.b9f77","name":"","url":"/ola-nome","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["3fb9a1d8.dbac2e"]]},{"id":"11e2b95e.07bb77","type":"http response","z":"659c0e01.b9f77","name":"","statusCode":"200","headers":{},"x":480,"y":120,"wires":[]},{"id":"3fb9a1d8.dbac2e","type":"function","z":"659c0e01.b9f77","name":"","func":"msg.payload = {\n    \"nome-enviado\":msg.req.query.nome,\n    \"tamanho\":msg.req.query.nome.length};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":120,"wires":[["11e2b95e.07bb77"]]},{"id":"9143d081.4b626","type":"http in","z":"659c0e01.b9f77","name":"","url":"/calculadora","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["e6bbd283.3e48c"]]},{"id":"e6bbd283.3e48c","type":"function","z":"659c0e01.b9f77","name":"","func":"var num1 = parseInt(msg.req.query.n1, 10); //Converte String para Int\nvar num2 = parseInt(msg.req.query.n2, 10);\nvar resultado = num1+num2;\nmsg.payload = {\n    \"num1\":num1,\n    \"num2\":num2,\n    \"operacao\":\"+\",\n    \"resultado\":resultado};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["dcd56356.7ddfc"]]},{"id":"dcd56356.7ddfc","type":"http response","z":"659c0e01.b9f77","name":"","statusCode":"","headers":{},"x":470,"y":220,"wires":[]},{"id":"207e979d.bfb958","type":"http in","z":"659c0e01.b9f77","name":"","url":"/calculadora-basica","method":"get","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["fc4bc09d.3a383"]]},{"id":"3acd9477.22812c","type":"http response","z":"659c0e01.b9f77","name":"","statusCode":"","headers":{},"x":510,"y":280,"wires":[]},{"id":"fc4bc09d.3a383","type":"function","z":"659c0e01.b9f77","name":"","func":"var num1 = parseInt(msg.req.query.n1, 10); //Converte String para Int\nvar num2 = parseInt(msg.req.query.n2, 10);\nvar operacao = msg.req.query.operacao;\nvar resultado;\nif (operacao == \"+\")\n    resultado = num1+num2;\nelse if(operacao == \"-\")\n    resultado = num1-num2;\nelse if(operacao == \"*\")\n    resultado = num1*num2;\nelse if(operacao == \"/\")\n    resultado = num1/num2;\nmsg.payload = {\n    \"num1\":num1,\n    \"num2\":num2,\n    \"operacao\":operacao,\n    \"resultado\":resultado};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["3acd9477.22812c"]]},{"id":"baced42e.544388","type":"ui_switch","z":"659c0e01.b9f77","name":"","label":"switch","tooltip":"","group":"62584906.bd1568","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":90,"y":440,"wires":[["6011e22f.41aa9c"]]},{"id":"6325e48d.79876c","type":"ui_slider","z":"659c0e01.b9f77","name":"","label":"slider","tooltip":"","group":"62584906.bd1568","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":80,"y":500,"wires":[["5af6a13d.ea0d5"]]},{"id":"6011e22f.41aa9c","type":"change","z":"659c0e01.b9f77","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[[]]},{"id":"5af6a13d.ea0d5","type":"change","z":"659c0e01.b9f77","name":"","rules":[{"t":"set","p":"slider","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[[]]},{"id":"7c4c62dc.36ec3c","type":"change","z":"659c0e01.b9f77","name":"","rules":[{"t":"set","p":"slider","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"gauge","pt":"flow","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":660,"wires":[[]]},{"id":"ee1d1a0b.63f5e8","type":"inject","z":"659c0e01.b9f77","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":660,"wires":[["7c4c62dc.36ec3c"]]},{"id":"d8f059e8.cfb878","type":"function","z":"659c0e01.b9f77","name":"","func":"msg.payload = {\n    \"slider\":flow.get(\"slider\"),\n    \"gauge\":flow.get(\"gauge\"),\n    \"switch\":flow.get(\"switch\")\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":720,"wires":[["6c4661ad.5bb87"]]},{"id":"62d59a24.0cfab4","type":"http in","z":"659c0e01.b9f77","name":"","url":"/get-status","method":"get","upload":false,"swaggerDoc":"","x":100,"y":720,"wires":[["d8f059e8.cfb878"]]},{"id":"6c4661ad.5bb87","type":"http response","z":"659c0e01.b9f77","name":"","statusCode":"","headers":{},"x":490,"y":720,"wires":[]},{"id":"4badaaca.202be4","type":"http in","z":"659c0e01.b9f77","name":"","url":"/atualiza-gauge","method":"post","upload":false,"swaggerDoc":"","x":120,"y":780,"wires":[["2694f11e.a534fe"]]},{"id":"ec5dc580.ec2378","type":"http response","z":"659c0e01.b9f77","name":"","statusCode":"","headers":{},"x":490,"y":780,"wires":[]},{"id":"2694f11e.a534fe","type":"function","z":"659c0e01.b9f77","name":"","func":"//Pega o valor que veio no POST\nvar novo_gauge = msg.payload.value;\n//Seta o valor do POST dentro do gauge\nflow.set(\"gauge\", novo_gauge);\n//Prepara o retorno para a requisição\nmsg.payload = novo_gauge;\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":780,"wires":[["ec5dc580.ec2378","c103db1b.37c9e8"]]},{"id":"c103db1b.37c9e8","type":"ui_gauge","z":"659c0e01.b9f77","name":"","group":"81fdc738.280638","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":860,"wires":[]}]